body {
    background-image: url('../images/servicesbg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 120px;
    font-family: 'Montserrat-SemiBold';
  }

  


.services-container {
    padding-top: 120px;
    max-width: 1600px;
    margin: 0 auto;
}


.service-title {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    margin-left: 10px;
}

.services-description {
    font-size: 18px;
    color: #333;
    max-width: 800px;
    margin-bottom: 40px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.service-card {
    background: #FFFFFF;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
}

.service-card:hover {
    transform: translateY(-5px);
}

.service-icon {
    margin-bottom: 20px;
    width: 25%;
}

.service-icon img {
    width: 40px;
    height: 40px;
}

.service-card {
    background: #FFFFFF;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.service-card ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.service-card ul li {
    margin-bottom: 8px;
    color: #666;
}

.service-header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 16px;
    align-items: center;
    margin-bottom: 20px;
}

.service-price {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    text-align: right;
}

.service-link {
    color: #7AB469;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
}

.service-list li {
    margin-bottom: 8px;
    color: #666;
}

.arrow-icon {
    width: 50px;
    height: 50px;
    transform: rotate(290deg);
    margin-left: 400px;
}



.service-link {
    color: #7AB469;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
}

.service-link svg {
    width: 24px;
    height: 24px;
    transform: rotate(45deg); /* Поворачиваем стрелку на 45 градусов вниз-вправо */
}

.service-link:hover {
    text-decoration: underline;
}

.service-icon {
    width: 32px;
    height: 32px;
}

.service-icon img {
    width: 135%;
    height: 135%;
    object-fit: contain;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 2200px) {
    .arrow-icon {
        width: 50px;
        height: 50px;
        transform: rotate(290deg);
        margin-left: 338px;
    }

    
    .services-container {
        padding: 100px 20px 40px;
    }
}

@media (max-width: 768px) {
    .services-title {
        font-size: 36px;
    }
    
    .service-card {
        padding: 20px;
    }
} 